<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mật mã{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            {% block navbar %}
            <a class="navbar-brand" href="/">{% if is_admin_context %}Home{% else %}App{% endif %}</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if is_admin_context %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user/list">Quản lý user</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/file/list">Quản lý file</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/myfile">File của tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/share">Được chia sẻ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Nhắn tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/verify">Kiểm tra chữ ký</a>
                    </li>
                    {% endif %}

                    {% if user_role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link {% if is_admin_context %}active{% endif %}" href="/admin">Admin panel</a>
                    </li>
                    {% endif %}

                    <li class="nav-item me-3">
                        <a class="nav-link position-relative" href="/notifications">
                            <i class="bi bi-bell-fill"></i>
                            {% if unread_notifications_count > 0 %}
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ unread_notifications_count }}
                                <span class="visually-hidden">unread messages</span>
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>